name: Build and Deploy to Kubernetes

on:
  push:
    branches: [ main, '*' ]

jobs:
  build:
    uses: digilinq/reusable-workflows/.github/workflows/build-maven-project.yaml@v1.0.8
    with:
      runner: 'ubuntu-latest'
      java-version: '17'
      ref: ${{ github.ref }}
    secrets: inherit
