name: Build and Deploy to Kubernetes

on:
  push:
    branches: [ main, '*' ]

jobs:
  build:
    uses: digilinq/reusable-workflows/.github/workflows/build-maven-project.yaml@v1.0.9
    with:
      runner: 'ubuntu-latest'
      java-version: '17'
      ref: ${{ github.ref }}
      docker-file: './Dockerfile'
    secrets: inherit

  publish:
    needs:
      - build
    uses: digilinq/reusable-workflows/.github/workflows/publish-docker-image.yaml@v1.0.12
    with:
      runner: 'ubuntu-latest'
      container-registry: 'docker.io'
      docker-image-namespace: ${{ vars.DOCKER_HUB_USERNAME }}
      docker-image-name: 'config-server'
      container-registry-username: ${{ vars.DOCKER_HUB_USERNAME }}
    secrets:
      container-registry-password: ${{ secrets.DOCKER_HUB_PASSWORD }}



