name: Build and Deploy to Kubernetes

on:
  push:
    branches: [ main, '*' ]

jobs:
  build:
    uses: digilinq/reusable-workflows/.github/workflows/build-maven-project.yaml@v1.0.9
    with:
      runner: 'ubuntu-latest'
      java-version: '17'
      ref: ${{ github.ref }}
      docker-file: './Dockerfile'
    secrets: inherit

  publish:
    needs:
      - build
    uses: digilinq/reusable-workflows/.github/workflows/publish-docker-image.yaml@v1.0.17
    with:
      runner: 'ubuntu-latest'
      container-registry: 'docker.io'
      docker-image-namespace: ${{ vars.DOCKER_HUB_USERNAME }}
      docker-image-name: 'config-server'
      container-registry-username: ${{ vars.DOCKER_HUB_USERNAME }}
    secrets:
      container-registry-password: ${{ secrets.DOCKER_HUB_PASSWORD }}

  deploy:
    needs:
      - build
      - publish
    uses: digilinq/reusable-workflows/.github/workflows/kubernetes-deploy.yaml@v1.0.16
    with:
      runner: 'ubuntu-latest'
      ref: ${{ github.ref }}
      namespace: 'test1'
      manifests: |
        manifests/deployment.yaml
        manifests/service.yaml
      docker-images: ${{ needs.publish.outputs.docker-image }}
    secrets:
      kubernetes-url: ${{ secrets.KUBERNETES_URL }}
      kubernetes-secret: ${{ secrets.KUBERNETES_SECRET }}

