name: Build and Deploy to Kubernetes

on:
  push:
    branches: [ main, '*' ]

jobs:
  build:
    uses: digilinq/reusable-workflows/.github/workflows/build-maven-project.yaml@v1.0.9
    with:
      runner: 'ubuntu-latest'
      java-version: '17'
      ref: ${{ github.ref }}
      docker-file: './Dockerfile'
    secrets: inherit

  publish:
    needs:
      - build
    uses: digilinq/reusable-workflows/.github/workflows/publish-docker-image.yaml@v1.0.11
    with:
      runner: 'ubuntu-latest'

