name: Release Config Server
on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
      - 'v[0-9]+.[0-9]+.[0-9]+-rc[0-9]+'
      - 'v[0-9]+.[0-9]+.[0-9]+-SNAPSHOT'
      - 'v[0-9]+.[0-9]+.[0-9]+-alpha[0-9]+'
      - 'v[0-9]+.[0-9]+.[0-9]+-beta[0-9]+'
      - 'v[0-9]+.[0-9]+.[0-9]+-M[0-9]+'
  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch to tag'
        required: true
        default: 'main'
      tag:
        description: 'Tag name (e.g., v1.0.1)'
        required: true
jobs:
  print-event-info:
    runs-on: ubuntu-latest
    steps:
      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: |
          echo "$GITHUB_CONTEXT"
  build:
    name: Build maven project
    runs-on: ubuntu-latest
    outputs:
      jar_name: ${{ steps.get-jar.outputs.jar_name }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven
      - name: Build with Maven
        run: mvn --batch-mode --update-snapshots verify -DskipTests
      - name: Get final jar name
        id: get-jar
        run: |
          FINAL_NAME=$(mvn help:evaluate -Dexpression=project.build.finalName -q -DforceStdout)
          PACKAGING=$(mvn help:evaluate -Dexpression=project.packaging -q -DforceStdout)
          JAR_NAME="${FINAL_NAME}.${PACKAGING}"
          echo "Final jar is $JAR_NAME"
          echo "jar_name=$JAR_NAME" >> $GITHUB_OUTPUT
      - name: Use final jar name
        run: |
          echo "The built jar is ${{ steps.get-jar.outputs.jar_name }}"
      - run: mkdir staging && tar zcvf artifact.tgz $(find . -name "${{ steps.get-jar.outputs.jar_name }}" -exec dirname {} \;)
      - run: cp artifact.tgz staging
      - run: cp ci/Dockerfile staging
      - uses: actions/upload-artifact@v4
        with:
          name: artifact
          path: staging
  publish:
    name: Publish docker image to Docker Hub
    runs-on: ubuntu-latest
    needs:
      - build
    #    outputs:
    #      docker-image: ${{ steps.meta.outputs.tags }}
    env:
      CONTAINER_REGISTRY: ${{ vars.CONTAINER_REGISTRY }}
      CONTAINER_REGISTRY_USERNAME: ${{ vars.DOCKER_HUB_USERNAME }}
      CONTAINER_REGISTRY_PASSWORD: ${{ secrets.DOCKER_HUB_PASSWORD }}
      NAMESPACE: ${{ vars.DOCKER_HUB_USERNAME }}
      IMAGE_NAME: ${{ vars.DOCKER_HUB_REPOSITORY }}
    steps:
      - name: Validate required variables
        run: |
          if [ -z "${{ vars.DOCKER_HUB_REPOSITORY }}" ]; then
            echo "Error: DOCKER_HUB_REPOSITORY is not set."
            exit 1
          fi
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: artifact
      - run: |
          echo "Artifact downloaded successfully."
          ls -l staging
#      - name: Download artifact
#        uses: actions/download-artifact@v4
#        with:
#          name: artifact
#      - name: Login to container repository
#        if: github.event_name != 'pull_request'
#        uses: docker/login-action@v3
#        with:
#          registry: ${{ env.CONTAINER_REGISTRY }}
#          username: ${{ env.CONTAINER_REGISTRY_USERNAME }}
#          password: ${{ env.CONTAINER_REGISTRY_PASSWORD }}
#      - name: Extract metadata (tags, labels) for Docker
#        id: meta
#        uses: docker/metadata-action@v5
#        with:
#          images: |
#            ${{ env.CONTAINER_REGISTRY }}/${{ env.NAMESPACE }}/${{ env.IMAGE_NAME }}
#          tags: |
##            type=semver,pattern={{version}},value=${{ inputs.version }}
#            type=semver,pattern={{major}}.{{minor}},value=${{ inputs.version }}
#            type=semver,pattern={{major}},value=${{ inputs.version }}
#            type=ref,event=branch,suffix=-{{ sha }}
#            type=ref,event=pr
#            type=raw,value=latest,enable=${{ github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags/') }}
#            type=semver,pattern={{version}},value=${{ inputs.tag || github.ref_name }}
#      - name: Build and push Docker Image
#        uses: docker/build-push-action@v6
#        with:
#          context: .
#          file: ./Dockerfile
#          push: ${{ github.event_name != 'pull_request' }}
#          tags: ${{ steps.meta.outputs.tags }}
#          labels: ${{ steps.meta.outputs.labels }}
#          build-args: |
#            JAR_FILE=${{ needs.build.outputs.jar_file_name }}
#  deploy:
#    name: Deploy to Kubernetes
#    runs-on: ubuntu-latest
#    needs: [ publish ]
#    env:
#      NAMESPACE: example
#      REPLICAS: 2
#    steps:
#      - name: Checkout
#        uses: actions/checkout@v4
#      - name: Set the Kubernetes context
#        uses: azure/k8s-set-context@v4
#        with:
#          method: service-account
#          k8s-url: ${{ secrets.KUBERNETES_URL }}
#          k8s-secret: ${{ secrets.KUBERNETES_SECRET }}
#      - name: Deploy to the Kubernetes cluster
#        uses: azure/k8s-deploy@v5
#        with:
#          strategy: basic
#          action: deploy
#          namespace: ${{ env.NAMESPACE }}
#          manifests: |
#            manifests/deployment.yaml
#            manifests/service.yaml
#            manifests/ingress.yaml
#          images: |
#            ${{ needs.publish.outputs.docker-image }}
