name: Release Config Server
on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
  workflow_dispatch:
    inputs:
      version:
        description: 'Version to release'
        required: true
      branch:
        description: 'Branch to deploy from'
        required: true
        default: 'main'
jobs:
  print-info:
    runs-on: ubuntu-latest
    steps:
      - name: Print GitHub context
        run: |
          echo "GitHub Context:"
          echo "Ref: ${{ github.ref }}"
          echo "Event Name: ${{ github.event_name }}"
          echo "Workflow: ${{ github.workflow }}"
          echo "Repository: ${{ github.repository }}"
          echo "Actor: ${{ github.actor }}"
